{
  "parser": "babel-eslint",
  "plugins": [
    "flowtype"
  ],
  "extends": "airbnb",
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "prefer-destructuring": ["error", {
      "array": true,
      "object": true
    }, {
      "enforceForRenamedProperties": false
    }]
  },
  "globals": {
    "document": true
  }
}